database/Make_install_script/config_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root_dir" type="xs:string" />
				<xs:element name="output_file" type="xs:string" />
				<xs:element name="accepted_extensions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ext" type="xs:string" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>